{% extends "base.html" %}

{% block content %}
<div class="container text-center mt-5">
    <h1 class="display-4">⚡ Bienvenido al Portafolio Energético de Carlos Saenz⚡</h1>
    <p class="lead">Explora nuestras herramientas de análisis y visualización del sector energético.</p>

    <div class="mt-4">
        <a href="/api_xm/dashboard/" class="btn btn-primary btn-lg m-2">🔍 API XM Dashboard</a>

        {% if user.is_authenticated %}
            <p class="mt-3">👋 ¡Hola, {{ user.username }}!</p>
            <form action="{% url 'authz:logout' %}" method="post" class="mt-3">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Cerrar Sesión</button>
            </form>
        {% else %}
            <a class="btn btn-outline-success btn-lg mt-3" href="{% url 'authz:login' %}">🔑 Iniciar Sesión</a>
        {% endif %}
    </div>
</div>
{% endblock %}
